html
    head 
        title FileUploader
        link(rel="stylesheet", href="/styles.css")
    body 
        nav 
            div(class="mainNavContainer")
                a(href="/") Home

                if user
                    span Welcome #{user.name}
                    a(href="/users/logout") Log Out
                else 
                    a(href="/users") Log In
                    a(href="/users/signUp") Sign Up
                
    
        div(class="mainDivContainer")
            block content