include ./partials/navbar.pug


h1 Upload a File
if user 
    span Hello #{user.name}
div(class="formContainer")
    form(action="/addFile", method="post" enctype="multipart/form-data" class="userForms" )
        label(for="fileInput")
        input(type="file" name="fileInput" id="fileInput")

        button(type="submit") Add File