include ./partials/navbar.pug
    h1 Hello World

    if user
        h2 #{user.name}



    ul 
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test
        li test