* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: hsl(53, 24%, 93%);
    font-size: larger;
    min-height: 100%;
}

.mainNavContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #E5E1DA;
    padding: 0;
    margin: 0;
}

.mainNavContainer > a, span {
    font-size: 32px;
    text-decoration: none;
    color: #89A8B2;
    font-weight: bolder;
    padding: 2rem 0
}
.formContainer {
    padding: 5rem 20rem;
}
.userForms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.userForms > label {
    margin-top: 1.5rem;
}

.userForms > label, input {
    border: 2px solid #E5E1DA;
    font-size: 16px;
    color: black
}

.userForms > input {
    padding: 0.5rem;
    border-radius: 7px;
}

.formButton {
    margin-top: 3rem;
    min-height: 3rem;
    border: 2px solid #E5E1DA;
    border-radius: 10px;
}

.formButton:hover {
    background-color: blue;
    color: white;
}



