
.formContainer {
    padding: 5rem 20rem;
}
.userForms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.userForms > label {
    margin-top: 1.5rem;
}

.userForms > label, input {
    border: 2px solid rebeccapurple;
    border-radius: 7px;
    font-size: 16px;
}

.userForms > input {
    padding: 0.5rem;
}

.formButton {
    margin-top: 3rem;
    min-height: 3rem;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
}

.formButton:hover {
    background-color: blue;
    color: white;
}

body {
    background-color: rebeccapurple;
    font-size: larger;
    min-height: 100%;
}